<!-- <h1>Are you sure you want to delete <%= @quiz.title%>?</h1>

<%= form_for(:quiz, :url => {:action => 'destroy', :id => @quiz.id}) do |f| %>

  <div class="form-buttons">
    <%= submit_tag("Yes, please delete it") %>
  </div>

<% end %>
<br/>

<%= link_to("No, I want to keep it", :action => 'index') %> -->
